.content__data{
    gap: 10px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    
}
.container__elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px 20px 20px 20px;
   
}
.section__periodos{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

.content__data:hover{
    box-shadow: 0 0 10px #0202026e;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    scale: 1.5;
}

.summary-content{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10px;
        align-items: center;
        height: 50px;
        background-color: #ffffff00;
        /*color: rgb(224, 39, 39);*/
        color: rgb(124, 124, 124);
        font-weight: 700;
        transition: 1s ;
        border-radius: 10px;
        cursor: pointer;
        /*box-shadow: 0 0 10px #0202026e;*/
        border: 1px solid rgb(255, 255, 255);
        
}

.textSpan{
    font-size: 15px;
    color: #F15151;
    font-weight: 800;
}

.text__targets{
    font-size: 13px;
    color: #494949;
    font-weight: 500;
    text-align: center;
}

.details-content{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    
    box-shadow: 0 0 10px #0202024d;
    margin-bottom: 20px;
    border-radius: 10px;
    /*border: 1px solid #F15151;*/
}

.button__descarga{
    font-size: clamp(0.9rem, 1vw, 1rem);
	padding: clamp(0.4rem, 0.4vw, 1rem) clamp(0.4rem, 2vw, 2rem);
    cursor: pointer;
	max-width: 90%;
	min-width: 20px;
	flex-grow: 1;
	border: 0;
	border-radius: 10px;
	background-color: #F15151;
	color: white;
	font-weight: 800;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}