---
import imagen1 from '../assets/inicioSesion/aprender.svg';

---
<div class="container">
    <img src={imagen1.src} alt="">
    <section>
        <h2>Inicia sesion en tu cuenta</h2>
        <form action="/">
            <input type="email" name="correo" id="email" placeholder="Correo Electrónico">
            <input type="password" name="contraseña" id="password" placeholder="Contraseña">
            <input type="button" value="Inicia sesión" id="iniciaSec" > 
        </form>
        <p>¿Olvidaste tu contraseña?</p>
        <p>¿Aun no tienes cuenta? <a href="/registrate">Regístrate</a></p>   
    </section>
</div>

<style>
    .container {
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        margin: 0px clamp(0px, 18vw, 400px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    h2{
        color: rgb(124, 124, 124);
        text-align: center;
    }

    p{
        text-align: center;
    }
    img{
        width: clamp(20rem, 25vw, 30rem);
    }
    section{
        width: 25%;
    }

    input, form{
        width: 100%;
    }

    input{
        height: 40px;
        border-radius: 10px;
        border: 1px solid rgb(134, 134, 134);
    }

    input::placeholder{
        color: rgb(124, 124, 124);
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        font-weight: 700;
        text-align: center;
    }

    input:focus{
        border: 1px solid #F15151;
        outline: none;
    
    }

    #iniciaSec{
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #F15151;
		color: white;
        font-weight: 700;
        font-size: clamp(0.8rem, 2vw, 1rem);
    }

    section, form{  
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section p a{
        text-decoration: none;
        color: #F15151;
        font-weight: 700;
    }

    form{
        gap: 10px   ;
    }

    p:nth-child(3){
        color: #F15151;
        border-bottom: 1px solid;
        padding-bottom: 2%;
        font-weight: 700;
    }

    p:nth-child(4){
        border-top: 1px solid rgb(223, 223, 223);
        margin: 0;
        padding-top: 5px;
    }

</style>