---
import Background_header from '../assets/Background_header.jpg';
---

<div id="container">
	<header>
		<h1>PRIMARY EDU SIMPLICITY</h1>
	</header>

</div>

<style>
	header{
		width: 100%;
		background-image: url('${Background_header}');
		
	}

	h1{
		margin: 0;
		
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		width: 100%;

	}

</style>
