---

---

<nav class="container__nav">
    <input type="checkbox" name="" class="check" id="chek__item">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Sobre nosotros</a></li>
        <li><a href="/tusCursos">Tus cursos</a></li>
        <li><a href="">Dashboard</a></li>
    </ul>
    <button class="nav__button">X</button>
</nav>
