---

---

<div class="container">
<h1>Sobre nosotros</h1>
<iframe src="" frameborder="0">

</iframe>
<p>PrimaryEduSimplicity es tu recurso educativo para enseñar inglés en primaria. Nos comprometemos a proporcionar a los docentes herramientas efectivas y recursos de alta calidad que inspiren el aprendizaje de manera divertida y significativa.
Valoramos la colaboración y la retroalimentación de nuestra comunidad de educadores, trabajando constantemente para mejorar y expandir nuestro catálogo de recursos. Juntos, podemos inspirar a la próxima generación de hablantes de inglés y ayudarles a alcanzar su máximo potencial.
¡Gracias por ser parte de nuestra comunidad! Si tienes alguna pregunta o sugerencia, no dudes en contactarnos. Atentamente, El Equipo de PrimaryEduSimplicity.</p>
</div>

<style>
    .contaioner{
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    }
    h1{
        font-size: clamp(2rem, 5vw, 2.5rem);
    }
</style>