---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
const { media, periodos } = Astro.props;

const guias = media;
const ordenPeriodos = [...periodos]

const pruebOrden = ordenPeriodos.sort((a,b) => a.slug-b.slug );

---

{   
    pruebOrden.map(({name, id}) => (

        <section class="section__periodos">
            <h3>{name}</h3>
                {
                 guias.filter(({periodo}) => periodo[0] === id)
                    .map(({title, link}) =>(
                        <p>{title.rendered}</p>
                        <a href={link}>Descarga</a>
            ))
                }
        </section>
         
    ))
}
