---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
import ImagenVision from '../assets/sobre_nosotros/imagenVision.svg'
import TusClasesC from './tscomponet/tusClasesContenido.tsx'
const { guia1 } = Astro.props;
---

<a href={guia1}>Descarga</a>
