---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
import  './styles/TusClasesStyles.css';
const { allHabilidades, habilidades } = Astro.props;
const allguias = allHabilidades;
const habilidad = habilidades;

//console.log(allguias)

---

{   
    habilidad.map(({name, id}) => (

        <section class="section__periodos">
            <h3>{name}</h3>
                {
                 allguias.filter(({habilidad}) => habilidad.includes(id))
                    .map(({title, link}) =>(
                    <section class="content__data">
                        <p>{title.rendered}</p>
                        <a href={link} target="_blank"><img src="/icons/download_red.svg" width="25px" height="auto" alt=""></a>
                    </section>
                        
            ))
                }
        </section>
         
    ))
}