---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
const { allMedia, habilidades } = Astro.props;

const allguias = allMedia;
const habilidad = habilidades;

//console.log(allguias)

---

{   
    habilidad.map(({name, id}) => (

        <section class="section__periodos">
            <h3>{name}</h3>
                {
                 allguias.filter(({habilidad}) => habilidad.includes(id))
                    .map(({title, link}) =>(
                        <p>{title.rendered}</p>
                        <a href={link}>Descarga</a>
            ))
                }
        </section>
         
    ))
}