---

---

<div class="container">
    <section class="section__container --transición">
        <h3>Transición</h3>
    </section>
    <section class="section__container --primero">
        <h3>Primero</h3>
    </section>
    <section class="section__container --segundo">
        <h3>Segundo</h3>
    </section>
    <section class="section__container --tercero">
        <h3>Tercero</h3>
    </section>
</div>