---
import Primarylogo from '../assets/LogoPrimary.svg';
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/LogoPrimaryEdu.svg"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Cardo:ital,wght@0,400;0,700;1,400&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="logo">
				<img src={Primarylogo.src} alt="LogoPrimary" width="60px" height="auto">
			</div>
			<nav class="menuPrincipal">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/nosotros">Sobre nosotros</a></li>
					<li><a href="/tusClases">Tus clases</a></li>
					<li><a href="">Dashboard</a></li>
				</ul>
			</nav>
			<nav class="ingresRegistro">
				<ul>
					<li id="prueba"><a class="ingresRegistro__button --ingreso" href="/InicioSesion">Ingreso</a></li>
					<li><a class="ingresRegistro__button --registro" href="/registro">Registro</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<div class="icons">
				<img src="/public/icons/youtube.svg" alt="Youtube">
				<img src="/public/icons/instagram.svg" alt="Instagram">
			</div>
			<p>© 2025 PrimariEduSimplicity| All Rights Reserved</p>
		</footer>
		<script type="module" src="/src/scripts/doomInicio.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(255, 255, 255);
	}
	
	header{
		top: 0;
    	position: sticky;
		background-color: #F15151;
		background-color: #ffffff;
		display: flex;
		width: 100%;
		height: 50px;
		align-items: center;
		justify-content: flex-start;
		box-shadow: 0 0 10px #0202026e;
		z-index: 1;
		gap: 80px;
	}

	.menuPrincipal ul{
		display: flex;
		list-style: none;
		gap: 10px;
		padding: 0;
	}

	.logo{
		/*font-family: "Nunito", sans-serif;
		font-family: "Cardo", serif;
		*/
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		margin-left: 30px;
	}

	.menuPrincipal a{
		text-decoration: none;
		color: rgb(53, 53, 53);
		font-size: clamp(1rem, 0.9vw, 3rem);
		padding: clamp(0.4rem, 0.4vw, 1rem) clamp(0.4rem, 0.9vw, 2rem);
		border-radius: 5px;
		font-weight:700;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
	}

	.ingresRegistro ul{
		list-style: none;
		padding: 0;
		display: flex;
	}

	.ingresRegistro li{
		
	}

	.ingresRegistro {
		margin-left: auto;
		margin-right: 30px;
		height: 50px;
	}

	header a:hover{
		color: white;
		background-color: #98B3DC;
		font-weight:700;
	}

	.ingresRegistro a{
		font-size: clamp(0.8rem, 0.8vw, 0.7rem);
		padding: clamp(0.4rem, 0.4vw, 1rem) clamp(0.4rem, 2vw, 2rem);
		max-width: 90%;
		min-width: 20px;
		flex-grow: 1;
		border: 0;
		border-radius: 15px;
		background-color: #e6e6e6;
		color: white;
		font-weight: 800;
		text-decoration: none;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	.ingresRegistro .--registro{
		background-color: #1e5785;
		
	
	}

	.ingresRegistro .--registro:hover{
		position: relative;
	}

	.ingresRegistro .--ingreso{
		background-color: #98B3DC;
	}

	#prueba{
		transform: translate(25px, 0);
	}

	.logo p{
		margin: 0;
	}

	.logo img{
		width: clamp(50px, 3vw, 5rem);
		height: auto;
	}

	footer{
		width: 100%;
		background-color: rgb(131, 131, 131);
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer p{
		margin: 0.5em;
		font-size: clamp(0.7rem, 0.8vw, 0.8rem);
	}
	main{
		flex: 1;
	}

	
</style>

