---
import { ClientRouter } from 'astro:transitions';
import Primarylogo from '../assets/LogoPrimary.svg';
const { title } = Astro.props
import  './layout.css';
import MenuResponsive from '../components/MenuResponsive.astro';
import menu2 from '../assets/LayoutImag/menu-2.svg';
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/LogoPrimaryEdu.svg"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Cardo:ital,wght@0,400;0,700;1,400&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		
	</head>
	<body>
		<header class="header__container">
			<label class="button_menu" for="chek__item" role="button">
				<img src={menu2.src} alt="menu">
			</label>
			<div class="logo">
				<img src={Primarylogo.src} alt="LogoPrimary" width="60px" height="auto">
			</div>
			<nav class="menuPrincipal">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/nosotros">Sobre nosotros</a></li>
					<li><a href="/TusClases/Transición">Tus clases</a></li>
					<li><a href="">Dashboard</a></li>
				</ul>
			</nav>
			<nav class="ingresRegistro">
				<ul>
					<li id="prueba"><a class="ingresRegistro__button --ingreso" href="/InicioSesion">Ingreso</a></li>
					<li><a class="ingresRegistro__button --registro" href="/registrate">Registro</a></li>
				</ul>
			</nav>
		</header>
		<main class="main__container">
			<MenuResponsive />	
			<slot />
		</main>
		
		<footer class="footer__container">
			<div class="icons">
				<a href="https://www.youtube.com/@PrimaryEduSimplicity" target="_blank"><img src="/icons/youtube.svg" alt="Youtube"> </a>
				
				<img src="/icons/instagram.svg" alt="Instagram">
			</div>
			<p>© 2025 PrimariEduSimplicity| All Rights Reserved</p>
		</footer>
		<Analytics/>
	</body>
</html>
